@tailwind base;
@tailwind components;
@tailwind utilities;

.gmnoprint,
.gm-style-cc {
    display: none;
}

.mdcursor {
    @media (hover: none) {
        cursor: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        outline: none !important;
    }
}


.scrollbar-hide {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}